%h2 Quests

- @quests.each do |campaign, quests|
  %h3= campaign
  
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Encounters
        /%th Monsters
        %th Rating
        %th Author
  
    %tbody
      - quests.each do |quest|
        %tr
          %td= link_to quest.name, quest
          %td
            %ul
              - for encounter in quest.encounters
                %li= link_to encounter.name, quest_encounter_url(quest, encounter)
          /%td
          /  %ul
          /    - for monster in quest.monsters
          /      %li= link_to monster.name, monster
          %td= sample_rating
          %td= quest.user ? (link_to quest.user.username, quest.user) : nil
  