%h4 Open Group Generator

= label_tag :quest_id, "Quest"
= grouped_collection_select('quest_id', "", @campaigns, :quests, :name, :id, :name, {}, :id => "quest_selector", :class => "clear_output_on_change")

%br

= form_tag(generate_monster_pool_path, :method => :get, :remote => true, :id => 'generate_open_groups_form') do

  = hidden_field_tag 'user_id', current_user.try(:id)

  %label Encounter
  = select_tag 'encounter_id', :class => "clear_output_on_change"

  %p
    = label_tag :pool_size
    = select_tag("pool_size", options_for_select(1..6, params[:pool_size] || "3"))
  
  = submit_tag "Generate Monster Options"

#open_groups_results