- model_class = OverlordCard
%h2 Overlord Cards

%form.form-search
  .input-append
    %input.span8.search-query{name: 'name', 'data-provide' => "typeahead", "data-items" => 6, "data-source" => @names, autocomplete: "off"}
    %button.btn
      Go To...

%table.table.table-striped.sortable-table
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th Type
      %th= model_class.human_attribute_name(:category)
      %th XP
      %th.hidden-phone Rating
      %th.hidden-phone Game

  %tbody
    - @overlord_cards.each do |name, overlord_card|
      %tr
        %td
          - if overlord_card.size > 1
            = popup_link(overlord_card.first)
            = " x #{overlord_card.size}"
          - else
            = popup_link(overlord_card.first)
        %td= overlord_card.first.subclass
        %td= overlord_card.first.category
        %td= overlord_card.first.xp_cost
        %td.hidden-phone= sample_rating
        %td.hidden-phone= link_to overlord_card.first.game.very_short_name, overlord_card.first.game