%h2
  Update Profile

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!

  %div
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password

  .container
      
    .row-fluid
      .span12
        = devise_error_messages!
    
    .row-fluid
      = f.label :birthdate
      %br/
      = f.date_select :birthdate

    .row-fluid
      .span4
        %h4 My Games
        - for game in Game.all do
          .field
          %label.checkbox
            = check_box_tag("user[game_ids][]", game.id, @user.games.include?(game), :class => "game_checkbox")
            = label_tag "game_ids[#{game.id}]", game.short_name

    .row-fluid
      .span12
        %h4 My Heroes
        .column4
          - for hero in Hero.order('name ASC').all do
            .field
            %label.checkbox
              = check_box_tag("user[hero_ids][]", hero.id, @user.heroes.include?(hero), :class => "hero_checkbox", :game_id => hero.game_id)
              = label_tag "hero_ids[#{hero.id}]", hero.name
  
    .row-fluid
      .span12
        %h4 My Monsters
        .column4
          - for monster in Monster.where(:role => "Monster").order('name ASC').all do
            .field
            %label.checkbox
              = check_box_tag("user[monster_ids][]", monster.id, @user.monsters.include?(monster), :class => "monster_checkbox", :game_id => monster.game_id)
              = label_tag "monster_ids[#{monster.id}]", monster.name      
  
  .row-fluid
    = f.submit "Update"

  // Javascripts
  // ==================================================
  // Placed at the end of the document so the pages load faster
  = javascript_include_tag "game_figure_picker"