<%- model_class = Monster -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:trait1_id) %></th>
      <th><%= model_class.human_attribute_name(:trait2_id) %></th>
      <th><%= model_class.human_attribute_name(:num_tan2) %></th>
      <th><%= model_class.human_attribute_name(:num_red2) %></th>
      <th><%= model_class.human_attribute_name(:num_tan3) %></th>
      <th><%= model_class.human_attribute_name(:num_red3) %></th>
      <th><%= model_class.human_attribute_name(:num_tan4) %></th>
      <th><%= model_class.human_attribute_name(:num_red4) %></th>
      <th><%= model_class.human_attribute_name(:act1_tan_attack) %></th>
      <th><%= model_class.human_attribute_name(:act2_red_attack) %></th>
      <th><%= model_class.human_attribute_name(:act1_tan_speed) %></th>
      <th><%= model_class.human_attribute_name(:act1_red_speed) %></th>
      <th><%= model_class.human_attribute_name(:act2_tan_speed) %></th>
      <th><%= model_class.human_attribute_name(:act2_red_speed) %></th>
      <th><%= model_class.human_attribute_name(:act1_tan_health) %></th>
      <th><%= model_class.human_attribute_name(:act1_red_health) %></th>
      <th><%= model_class.human_attribute_name(:act2_tan_health) %></th>
      <th><%= model_class.human_attribute_name(:act2_red_health) %></th>
      <th><%= model_class.human_attribute_name(:act1_tan_defense) %></th>
      <th><%= model_class.human_attribute_name(:act1_red_defense) %></th>
      <th><%= model_class.human_attribute_name(:act2_tan_defense) %></th>
      <th><%= model_class.human_attribute_name(:act2_red_defense) %></th>
      <th><%= model_class.human_attribute_name(:role) %></th>
      <th><%= model_class.human_attribute_name(:attack_type) %></th>
      <th><%= model_class.human_attribute_name(:game_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= link_to monster.id, monster_path(monster) %></td>
        <td><%= monster.name %></td>
        <td><%= monster.trait1_id %></td>
        <td><%= monster.trait2_id %></td>
        <td><%= monster.num_tan2 %></td>
        <td><%= monster.num_red2 %></td>
        <td><%= monster.num_tan3 %></td>
        <td><%= monster.num_red3 %></td>
        <td><%= monster.num_tan4 %></td>
        <td><%= monster.num_red4 %></td>
        <td><%= monster.act1_tan_attack %></td>
        <td><%= monster.act2_red_attack %></td>
        <td><%= monster.act1_tan_speed %></td>
        <td><%= monster.act1_red_speed %></td>
        <td><%= monster.act2_tan_speed %></td>
        <td><%= monster.act2_red_speed %></td>
        <td><%= monster.act1_tan_health %></td>
        <td><%= monster.act1_red_health %></td>
        <td><%= monster.act2_tan_health %></td>
        <td><%= monster.act2_red_health %></td>
        <td><%= monster.act1_tan_defense %></td>
        <td><%= monster.act1_red_defense %></td>
        <td><%= monster.act2_tan_defense %></td>
        <td><%= monster.act2_red_defense %></td>
        <td><%= monster.role %></td>
        <td><%= monster.attack_type %></td>
        <td><%= monster.game_id %></td>
        <td><%=l monster.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_monster_path(monster), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      monster_path(monster),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_monster_path,
            :class => 'btn btn-primary' %>
