- model_class = Monster
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th Number
      %th Attack
      %th Speed
      %th Health
      %th Defense
      %th= model_class.human_attribute_name(:attack_type)
      %th= Game
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @monsters.each do |monster|
      %tr
        %td= link_to monster.name, monster_path(monster)
        %td
          .tan
            = monster.num_tan2
          .red
            = monster.num_red2
        %td
          .tan
            = monster.act1_tan_attack
          .red
            = monster.act2_red_attack
        %td
          .tan
            = monster.act1_tan_speed
          .red
            = monster.act1_red_speed
        %td
          .tan
            = monster.act1_tan_health
          .red
            = monster.act1_red_health
        %td
          .tan
            = monster.act1_tan_defense
          .red
            = monster.act1_red_defense
        %td= monster.attack_type
        %td= link_to monster.game.name, monster.game
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_monster_path(monster), :class => 'btn btn-mini'
