- model_class = Monster
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @monster.name
  %dt
    %strong
      = model_class.human_attribute_name(:trait1_id)
      \:
  %dd= @monster.trait1_id
  %dt
    %strong
      = model_class.human_attribute_name(:trait2_id)
      \:
  %dd= @monster.trait2_id
  %dt
    %strong
      = model_class.human_attribute_name(:num_tan2)
      \:
  %dd= @monster.num_tan2
  %dt
    %strong
      = model_class.human_attribute_name(:num_red2)
      \:
  %dd= @monster.num_red2
  %dt
    %strong
      = model_class.human_attribute_name(:num_tan3)
      \:
  %dd= @monster.num_tan3
  %dt
    %strong
      = model_class.human_attribute_name(:num_red3)
      \:
  %dd= @monster.num_red3
  %dt
    %strong
      = model_class.human_attribute_name(:num_tan4)
      \:
  %dd= @monster.num_tan4
  %dt
    %strong
      = model_class.human_attribute_name(:num_red4)
      \:
  %dd= @monster.num_red4
  %dt
    %strong
      = model_class.human_attribute_name(:act1_tan_attack)
      \:
  %dd= @monster.act1_tan_attack
  %dt
    %strong
      = model_class.human_attribute_name(:act2_red_attack)
      \:
  %dd= @monster.act2_red_attack
  %dt
    %strong
      = model_class.human_attribute_name(:act1_tan_speed)
      \:
  %dd= @monster.act1_tan_speed
  %dt
    %strong
      = model_class.human_attribute_name(:act1_red_speed)
      \:
  %dd= @monster.act1_red_speed
  %dt
    %strong
      = model_class.human_attribute_name(:act2_tan_speed)
      \:
  %dd= @monster.act2_tan_speed
  %dt
    %strong
      = model_class.human_attribute_name(:act2_red_speed)
      \:
  %dd= @monster.act2_red_speed
  %dt
    %strong
      = model_class.human_attribute_name(:act1_tan_health)
      \:
  %dd= @monster.act1_tan_health
  %dt
    %strong
      = model_class.human_attribute_name(:act1_red_health)
      \:
  %dd= @monster.act1_red_health
  %dt
    %strong
      = model_class.human_attribute_name(:act2_tan_health)
      \:
  %dd= @monster.act2_tan_health
  %dt
    %strong
      = model_class.human_attribute_name(:act2_red_health)
      \:
  %dd= @monster.act2_red_health
  %dt
    %strong
      = model_class.human_attribute_name(:act1_tan_defense)
      \:
  %dd= @monster.act1_tan_defense
  %dt
    %strong
      = model_class.human_attribute_name(:act1_red_defense)
      \:
  %dd= @monster.act1_red_defense
  %dt
    %strong
      = model_class.human_attribute_name(:act2_tan_defense)
      \:
  %dd= @monster.act2_tan_defense
  %dt
    %strong
      = model_class.human_attribute_name(:act2_red_defense)
      \:
  %dd= @monster.act2_red_defense
  %dt
    %strong
      = model_class.human_attribute_name(:role)
      \:
  %dd= @monster.role
  %dt
    %strong
      = model_class.human_attribute_name(:attack_type)
      \:
  %dd= @monster.attack_type
  %dt
    %strong
      = model_class.human_attribute_name(:game_id)
      \:
  %dd= @monster.game_id
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    monsters_path, :class => 'btn'                           |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_monster_path(@monster), :class => 'btn'             |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    monster_path(@monster),                                                                                      |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
