%h2= @monster.name

.row-fluid
  %h3 Card
  = image_tag "cards/monsters/#{@monster.slug}-1.jpg"
  = image_tag "cards/monsters/#{@monster.slug}-2.jpg"

.row-fluid
  %h3 Ratings

.row-fluid
  %h3 Discussion
