%h2.hidden-phone Dice Roller

.row-fluid.centered

  .span2
    .row-fluid
      = link_to "#{image_tag 'icons/dice-blue.png'}".html_safe, roll_dice_path(:colors => "{BLUE}"), :remote => true, :class => "roll_dice_button btn btn-medium"
      = link_to "#{image_tag 'icons/dice-yellow.png'}".html_safe, roll_dice_path(:colors => '{YELLOW}'), :remote => true, :class => "roll_dice_button btn btn-medium"
      = link_to "#{image_tag 'icons/dice-red.png'}".html_safe, roll_dice_path(:colors => '{RED}'), :remote => true, :class => "roll_dice_button btn btn-medium"
      = link_to "#{image_tag 'icons/dice-green.png'}".html_safe, roll_dice_path(:colors => '{GREEN}'), :remote => true, :class => "roll_dice_button btn btn-medium"

    .row-fluid
      = link_to "#{image_tag 'icons/dice-brown.png'}".html_safe, roll_dice_path(:colors => '{BROWN}'), :remote => true, :class => "roll_dice_button btn btn-medium"
      = link_to "#{image_tag 'icons/dice-grey.png'}".html_safe, roll_dice_path(:colors => '{GREY}'), :remote => true, :class => "roll_dice_button btn btn-medium"
      = link_to "#{image_tag 'icons/dice-black.png'}".html_safe, roll_dice_path(:colors => '{BLACK}'), :remote => true, :class => "roll_dice_button btn btn-medium"
      = link_to "#{image_tag 'icons/dice-black-grey.png'}".html_safe, roll_dice_path(:colors => '{BLACK} {GREY}'), :remote => true, :class => "roll_dice_button btn btn-medium"

    %hr

  .span10
    .row-fluid
      #dice-results.centered

    %hr

    .row-fluid
      #clear-dice.btn Clear All