%h2 Skills

%form.form-search
  .input-append
    %input.span8.search-query{name: 'name', 'data-provide' => "typeahead", "data-items" => 6, "data-source" => @skill_names, autocomplete: "off"}
    %button.btn
      Go To...

%table.table.table-striped.sortable-table
  %thead
    %tr
      %th Name
      %th Profession
      %th XP Cost
      %th Rules
  %tbody
    - @skills.each do |skill|
      %tr
        %td= popup_link(skill)
        %td= link_to skill.profession.name, class_url(skill.profession)
        %td.centered= skill.xp_cost
        %td
          %p= fancy_output(skill.rule1)
          %p= fancy_output(skill.rule2)
          %p= fancy_output(skill.rule3)
          %p= fancy_output(skill.rule4)

=# link_to t('.new', :default => t("helpers.links.new")), new_skill_path, :class => 'btn btn-primary'
