
= form_for @adventure do |f|
  .row-fluid
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'text_field'
    .control-group
      = f.label :description, :class => 'control-label'
      .controls
        = f.text_area :description, :class => 'text_area span6', :rows => 6
    .control-group
      = f.label :campaign_id, :class => 'control-label'
      .controls
        = f.collection_select :campaign_id, @campaigns, :id, :name, :class => 'number_field'

  .row-fluid
    %h4 Heroes
    %table.table.table-striped
      %thead
        %tr
          %th
          - for i in 1..4
            %th
              = "Hero #{i}"
              %div.label.label-button{:id => "randomize_hero_#{i}"}
                random

      %tbody

        %tr
          %td Hero
          - for i in 1..4
            %td= select_tag("heroes[#{i}][hero_id]", options_from_collection_for_select(@heroes, :id, :name), {:prompt => "Choose a hero", :class => 'hero-select input-medium'})

        %tr
          %td Class
          - for i in 1..4
            %td= select_tag("heroes[#{i}][profession_id]", {}, {:class => 'class-select input-medium'})
    
        %tr
          %td Items
          - for i in 1..4
            %td{id: "hero_#{i}_items"}
              
  
        %tr
          %td Skills
          - for i in 1..4
            %td{id: "hero_#{i}_skills"}

  .row-fluid
    %h2 Campaign Options

    .control-group
      = f.label :hero_starting_xp, :class => 'control-label'
      .controls
        = f.number_field :hero_starting_xp, :class => 'number_field'
    .control-group
      = f.label :hero_starting_gold, :class => 'control-label'
      .controls
        = f.number_field :hero_starting_gold, :class => 'number_field'
    .control-group
      = f.label :ol_starting_xp, :class => 'control-label'
      .controls
        = f.number_field :ol_starting_xp, :class => 'number_field'

    .control-group
      = f.label :ol_open_group_pool_size, :class => 'control-label'
      .controls
        = f.select :ol_open_group_pool_size, 0..4, :class => 'number_field'

    .control-group
      = f.label :skip_intro, :class => 'control-label'
      .controls
        = f.check_box :skip_intro, :class => 'check_box'    
    .control-group
      = f.label :is_private, "Private", :class => 'control-label'
      .controls
        = f.check_box :is_private, :class => 'check_box'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), adventures_path, :class => 'btn'
