- model_class = Adventure
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:campaign_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @adventures.each do |adventure|
      %tr
        %td= link_to adventure.id, adventure_path(adventure)
        %td= adventure.user_id
        %td= adventure.name
        %td= adventure.description
        %td= adventure.campaign_id
        %td=l adventure.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_adventure_path(adventure), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), adventure_path(adventure), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_adventure_path, :class => 'btn btn-primary'
