- model_class = Adventure
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @adventure.user_id
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @adventure.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @adventure.description
%p
  %strong= model_class.human_attribute_name(:campaign_id) + ':'
  %br
  = @adventure.campaign_id
%p
  %strong= model_class.human_attribute_name(:overlord_name) + ':'
  %br
  = @adventure.overlord_name
%p
  %strong= model_class.human_attribute_name(:overlord_user_id) + ':'
  %br
  = @adventure.overlord_user_id
%p
  %strong= model_class.human_attribute_name(:hero1_name) + ':'
  %br
  = @adventure.hero1_name
%p
  %strong= model_class.human_attribute_name(:hero2_name) + ':'
  %br
  = @adventure.hero2_name
%p
  %strong= model_class.human_attribute_name(:hero3_name) + ':'
  %br
  = @adventure.hero3_name
%p
  %strong= model_class.human_attribute_name(:hero4_name) + ':'
  %br
  = @adventure.hero4_name
%p
  %strong= model_class.human_attribute_name(:hero1_hero_id) + ':'
  %br
  = @adventure.hero1_hero_id
%p
  %strong= model_class.human_attribute_name(:hero2_hero_id) + ':'
  %br
  = @adventure.hero2_hero_id
%p
  %strong= model_class.human_attribute_name(:hero3_hero_id) + ':'
  %br
  = @adventure.hero3_hero_id
%p
  %strong= model_class.human_attribute_name(:hero4_hero_id) + ':'
  %br
  = @adventure.hero4_hero_id
%p
  %strong= model_class.human_attribute_name(:hero1_hero_user_id) + ':'
  %br
  = @adventure.hero1_hero_user_id
%p
  %strong= model_class.human_attribute_name(:hero2_hero_user_id) + ':'
  %br
  = @adventure.hero2_hero_user_id
%p
  %strong= model_class.human_attribute_name(:hero3_hero_user_id) + ':'
  %br
  = @adventure.hero3_hero_user_id
%p
  %strong= model_class.human_attribute_name(:hero4_hero_user_id) + ':'
  %br
  = @adventure.hero4_hero_user_id
%p
  %strong= model_class.human_attribute_name(:hero1_profession_id) + ':'
  %br
  = @adventure.hero1_profession_id
%p
  %strong= model_class.human_attribute_name(:hero2_profession_id) + ':'
  %br
  = @adventure.hero2_profession_id
%p
  %strong= model_class.human_attribute_name(:hero3_profession_id) + ':'
  %br
  = @adventure.hero3_profession_id
%p
  %strong= model_class.human_attribute_name(:hero4_profession_id) + ':'
  %br
  = @adventure.hero4_profession_id
%p
  %strong= model_class.human_attribute_name(:hero_starting_xp) + ':'
  %br
  = @adventure.hero_starting_xp
%p
  %strong= model_class.human_attribute_name(:hero_starting_gold) + ':'
  %br
  = @adventure.hero_starting_gold
%p
  %strong= model_class.human_attribute_name(:ol_starting_xp) + ':'
  %br
  = @adventure.ol_starting_xp
%p
  %strong= model_class.human_attribute_name(:skip_intro) + ':'
  %br
  = @adventure.skip_intro

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), adventures_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_adventure_path(@adventure), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), adventure_path(@adventure), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
