%h2= @adventure.name

.row-fluid
  %h4 Heroes
  %table.table.table-striped
    %thead
      %th
      - for adventurer in @adventure.adventurers
        %th
          = link_to adventurer.hero.name, adventurer.hero

    %tbody
      %tr
        %td Class
        - for adventurer in @adventure.adventurers
          %td= link_to adventurer.profession.name, class_path(adventurer.profession)
  
      %tr
        %td Items
        - for adventurer in @adventure.adventurers
          %td
            - for item in adventurer.items
              %p= link_to item.name, item

      %tr
        %td Skills
        - for adventurer in @adventure.adventurers
          %td
            - for skill in adventurer.skills
              %p= link_to skill.name, skill

      %tr
        %td XP
        - for adventurer in @adventure.adventurers
          %td= adventurer.available_xp
      
.row-fluid
  %h5 Gold
  = @adventure.hero_gold

%hr 

.row-fluid
  %h5 Overlord Items
  - for item in @adventure.items
    %p= link_to item.name, item

  %h5 Overlord Cards
  /- for card in @adventure.overlord_cards
  /  %p= link_to card.name, card

.row-fluid
  %h2 Chapters
  
  %table.table
    %thead
      %tr
        %th Act
        %th Quest
        %th Winner
        %th Item
        %th Gold Earned
        %th Date
    %tbody
      - @adventure.chapters.each do |chapter|
        %tr{:class => chapter.final_winner == "Overlord" ? "ol_win" : nil}
          %td= chapter.quest.act
          %td= link_to chapter.quest.name, chapter.quest
          %td= chapter.final_winner
          %td
            - if chapter.final_winner == "Heroes"
              -if chapter.quest.hero_win_item_id
                - item = Item.find(chapter.quest.hero_win_item_id)
                = link_to item.name, item
            - else
              -if chapter.quest.ol_win_item_id
                - item = Item.find(chapter.quest.ol_win_item_id)
                = link_to item.name, item
          %td= chapter.total_gold_earned
          %td= time_ago_in_words(chapter.created_at) + " ago"

- if current_user.try(:is_admin?) || (current_user == @adventure.user)

  .form-actions
    - unless @adventure.is_complete?
      = link_to "Add a Chapter", new_chapter_path(:adventure_id => @adventure.id), :class => 'btn'
      //= link_to t('.edit', :default => t("helpers.links.edit")), edit_adventure_path(@adventure), :class => 'btn'
      .pull-right
        = link_to "Edit Adventure", edit_adventure_path(@adventure), :class => 'btn'
        = link_to "Delete Adventure", adventure_path(@adventure), :method => "delete", :data => { :confirm => "This will irrevocably delete the adventure. Are you sure?" }, :class => 'btn btn-danger'
