%h2= @adventure.name

.row-fluid
  %h4 Heroes
  %table.table.table-striped
    %thead
      %th
      - for adventurer in @adventure.adventurers
        %th
          = adventurer.hero.name

    %tbody
      %tr
        %td Class
        - for adventurer in @adventure.adventurers
          %td= adventurer.profession.name
  
      %tr
        %td Items
        - for adventurer in @adventure.adventurers
          %td
            - for item in adventurer.items
              %p= link_to item.name, item

      %tr
        %td Skills
        - for adventurer in @adventure.adventurers
          %td
            - for skill in adventurer.skills
              %p= link_to skill.name, skill

      %tr
        %td XP
        - for adventurer in @adventure.adventurers
          %td= adventurer.available_xp
      
.row-fluid
  %h5 Gold
  = @adventure.hero_gold

%hr 

.row-fluid
  %h5 Overlord Items
  - for item in @adventure.items
    %p= link_to item.name, item

  %h5 Overlord Cards
  /- for card in @adventure.overlord_cards
  /  %p= link_to card.name, card

- if current_user.try(:is_admin?) || (current_user == @adventure.user)

  .form-actions
    = link_to "Add a Chapter", new_chapter_path(:adventure_id => @adventure.id), :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_adventure_path(@adventure), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), adventure_path(@adventure), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
