%h2= @adventure.name

%h4 Heroes
.row-fluid
  %table.table.table-striped
    %thead
      %th
      - for adventurer in @adventure.adventurers
        %th
          = popup_link(adventurer.hero)

    %tbody
      %tr
        %td Player
        - for adventurer in @adventure.adventurers
          %td
            - if adventurer.user
              - if adventurer.user == current_user
                = link_to "Play", play_path(:adventurer_id => adventurer), :class => "btn btn-mini btn-primary"
              - else
                = link_to adventurer.user.username, adventurer.user

      %tr
        %td Class
        - for adventurer in @adventure.adventurers
          %td= link_to adventurer.profession.name, class_path(adventurer.profession)
  
      %tr
        %td Items
        - for adventurer in @adventure.adventurers
          %td
            - for item in adventurer.items
              %p= popup_link(item)

      %tr
        %td Skills
        - for adventurer in @adventure.adventurers
          %td
            - for skill in adventurer.skills
              %p= popup_link(skill)

      %tr
        %td XP
        - for adventurer in @adventure.adventurers
          %td= adventurer.available_xp
      
.row-fluid
  %h5 Gold
  = @adventure.hero_gold

%hr 

%h4 Overlord (#{link_to @adventure.user.username, @adventure.user})
.row-fluid
  .span4
    %h5 XP
    %p= @adventure.ol_available_xp

  .span4
    %h5 Items
    - for item in @adventure.items
      %p= popup_link(item)

  .span4
    %h5 Cards
    - @adventure.overlord_cards.group_by(&:category).each do |category, cards|
      - unless category == "Basic"
        %h6= category
        - cards.each do |card|
          %p= popup_link(card)



- if @adventure.chapters.present?
  
  %hr 

  .row-fluid
    %h4 Chapters
    
    %table.table
      %thead
        %tr
          %th Act
          %th Quest
          %th Winner
          %th Item
          %th Gold Earned
          %th Date
      %tbody
        - @adventure.chapters.each do |chapter|
          %tr{:class => chapter.final_winner == "Overlord" ? "ol_win" : nil}
            %td= chapter.quest.act
            %td= link_to chapter.quest.name, chapter.quest
            %td= chapter.final_winner
            %td
              - if chapter.final_winner == "Heroes"
                -if chapter.quest.hero_win_item_id
                  - item = Item.find(chapter.quest.hero_win_item_id)
                  = popup_link(item)
              - else
                -if chapter.quest.ol_win_item_id
                  - item = Item.find(chapter.quest.ol_win_item_id)
                  = popup_link(item)
            %td= chapter.total_gold_earned
            %td= time_ago_in_words(chapter.created_at) + " ago"

- if current_user.try(:is_admin?) || (current_user == @adventure.user)

  .form-actions
    - if @adventure.is_complete?
      = link_to "Edit Adventure", edit_adventure_path(@adventure), :class => 'btn'

    - else
      = link_to "Add a Chapter", new_chapter_path(:adventure_id => @adventure.id), :class => 'btn'
      .pull-right
        = link_to "Edit Adventure", edit_adventure_path(@adventure), :class => 'btn'
        = link_to "Delete Adventure", adventure_path(@adventure), :method => "delete", :data => { :confirm => "This will irrevocably delete the adventure. Are you sure?" }, :class => 'btn btn-danger'
