%h2= link_to @encounter.quest.name, @encounter.quest

%h3= @encounter.name

%h4 Description

- if @encounter.monsters.size > 0
  
  %h4 Monsters
  = render :partial => "monsters/monster", :collection => @encounter.monsters, :locals => { :encounter => @encounter }

%hr

%h4 Traits
- for trait in @encounter.traits
  %p
    = link_to trait.name, trait

- if @encounter.num_open_groups > 0
  
  %hr

  %h4 Open Group Generator

  = form_tag(generate_monster_pool_path, :method => :get, :remote => true, :id => 'generate_open_groups_form') do
  
    = hidden_field_tag 'encounter_id', @encounter.id
    = hidden_field_tag 'user_id', current_user.try(:id)
  
    %p
      = label_tag :pool_size
      = select_tag("pool_size", options_for_select(1..6, params[:pool_size] || "3"))
    
    = submit_tag "Generate Monster Options"

#open_groups_results


-if user_signed_in? && current_user == @encounter.quest.user
  = link_to 'Edit', edit_encounter_path(@encounter)
