%h2= link_to @encounter.quest.name, @encounter.quest

%h3= link_to @encounter.name, @encounter

%h4 Description

- if @encounter.monsters.size > 0
  %h4 
    Monsters
  - for monster in @encounter.monsters do
    %p
      = link_to monster.name, monster

%h4 Traits
- for trait in @encounter.traits
  %p
    = link_to trait.name, trait

- if @encounter.num_open_groups > 0
  
  %h4 Open Group Generator

  = form_tag(generate_monster_list_path) do
  
    = hidden_field_tag 'encounter_id', @encounter.id
  
    %p
      = label_tag :pool_size
      = select_tag("pool_size", options_for_select(1..6, params[:pool_size] || "3"))
    
    = submit_tag "Generate Monster Options"

      
- if @open_group

  .row-fluid
  
    - counter = 1
    - @encounter.num_open_groups.times do
      .span3
        %h4= "Open Group #{counter}"
        - for monster in @open_group[counter] do
          - if monster # there may not be enough
            %p= link_to monster.name, monster
    
      - counter += 1
  - if @monster_options && !@monster_options.empty?
    .row-fluid
      %h4 
        Unused Monsters
        
      .column2
        - for monster in @monster_options
          %p= link_to monster.name, monster

-if user_signed_in? && current_user == @encounter.user
  = link_to 'Edit', edit_encounter_path(@encounter)
  = link_to 'Back', encounters_path