= form_for @game, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :short_name, :class => 'control-label'
    .controls
      = f.text_field :short_name, :class => 'text_field'
  .control-group
    = f.label :bgg_url, :class => 'control-label'
    .controls
      = f.text_field :bgg_url, :class => 'text_field'
  .control-group
    = f.label :edition, :class => 'control-label'
    .controls
      = f.number_field :edition, :class => 'number_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), games_path, :class => 'btn'
