%h1 Classes

%table.table.table-striped#sortable-table
  %thead
    %tr
      %th Name
      %th Archetype
      %th Items
      %th Skills
      //%th Game

  %tbody
    - @professions.each do |profession|
      %tr
        %td= link_to profession.name, class_path(profession)
        %td= profession.archetype.name
        %td
          - for item in profession.items
            %p= link_to item.name, item 

          - if profession.familiar
            %p= link_to profession.familiar.name, profession.familiar

        %td.column3
          - for ability in profession.abilities
            %p= link_to ability.name, ability

        //%td= link_to profession.game.short_name, profession.game

- if user_signed_in? && current_user.is_admin?
  = link_to t('.new', :default => t("helpers.links.new")), new_class_path, :class => 'btn btn-primary'
