%h2 Classes

%table.table.table-striped#sortable-table
  %thead
    %tr
      %th Name
      %th.hidden-phone Archetype
      %th Items
      %th Skills
      //%th Game

  %tbody
    - @professions.each do |profession|
      %tr
        %td= link_to profession.name, class_path(profession)
        %td.hidden-phone= profession.archetype.name
        %td
          - for item in profession.items
            %p= link_to item.name, item 

          - if profession.familiar
            %p= link_to profession.familiar.name, profession.familiar

        %td.column3
          - for skill in profession.skills
            %p= link_to skill.name, skill

        //%td= link_to profession.game.short_name, profession.game

- if current_user.try(:is_admin?)
  = link_to t('.new', :default => t("helpers.links.new")), new_class_path, :class => 'btn btn-primary'
