- model_class = Profession
.page-header
  %h1= @profession.name

%p
  %strong= model_class.human_attribute_name(:archetype_id) + ':'
  %br
  = @profession.archetype.name
%p
  %strong= model_class.human_attribute_name(:game_id) + ':'
  %br
  = link_to @profession.game.name, @profession.game

  %h2 Skills

  - for skill in @profession.skills
    %p= link_to skill.name, skill
