%div{:id => item.slug, :class => "item card"}
  - if !item.dice.blank?
    = link_to "#{image_tag "cards/items/#{item.slug}.jpg"}".html_safe, roll_dice_path(:colors => item.dice), :remote => true, :class => "roll_dice_button"
  - else
    = image_tag "cards/items/#{item.slug}.jpg"