- model_class = Item
%h2 Items

%form.form-search
  .input-append
    %input.span8.search-query{name: 'name', 'data-provide' => "typeahead", "data-items" => 6, "data-source" => @item_names, autocomplete: "off"}
    %button.btn
      Go To...

%h3 Act 1
%table.table.table-striped.sortable-table
  %thead
    %tr
      %th Name
      %th.hidden-phone Attack
      %th.hidden-phone Traits
      %th.hidden-phone Type
      %th.hidden-phone Dice
      %th Price
      %th Info
      %th.hidden-phone Game
  %tbody
    - @act1_items.each do |item|
      %tr
        %td= link_to item.name, item_path(item)
        %td.hidden-phone= item.attack_type
        %td.hidden-phone
          - if item.subclass2.present?
            = "#{item.subclass1}, #{item.subclass2}"
          - else
            = item.subclass1
        %td.hidden-phone= fancy_output(item.equip_type)
        %td.hidden-phone= fancy_output(item.dice)
        %td= item.buy_cost
        %td
          %p= fancy_output(item.trait1)
          %p= fancy_output(item.trait2)
          %p= fancy_output(item.trait3)
          %p= fancy_output(item.trait4)
          %p= fancy_output(item.rules)
        %td.hidden-phone= item.game.short_name

%h3 Act II
%table.table.table-striped.sortable-table
  %thead
    %tr
      %th Name
      %th.hidden-phone Attack
      %th.hidden-phone Traits
      %th.hidden-phone Type
      %th.hidden-phone Dice
      %th Price
      %th Info
      %th.hidden-phone Game
  %tbody
    - @act2_items.each do |item|
      %tr
        %td= link_to item.name, item_path(item)
        %td.hidden-phone= item.attack_type
        %td.hidden-phone
          - if item.subclass2.present?
            = "#{item.subclass1}, #{item.subclass2}"
          - else
            = item.subclass1
        %td.hidden-phone= fancy_output(item.equip_type)
        %td.hidden-phone= fancy_output(item.dice)
        %td= item.buy_cost
        %td
          %p= fancy_output(item.trait1)
          %p= fancy_output(item.trait2)
          %p= fancy_output(item.trait3)
          %p= fancy_output(item.trait4)
          %p= fancy_output(item.rules)
        %td.hidden-phone= item.game.short_name

%h3 Hero Relics
%table.table.table-striped.sortable-table
  %thead
    %tr
      %th Name
      %th.hidden-phone Attack
      %th.hidden-phone Traits
      %th.hidden-phone Type
      %th.hidden-phone Dice
      %th Price
      %th Info
      %th.hidden-phone Game
  %tbody
    - @hero_relics.each do |item|
      %tr
        %td= link_to item.name, item_path(item)
        %td.hidden-phone= item.attack_type
        %td.hidden-phone
          - if item.subclass2.present?
            = "#{item.subclass1}, #{item.subclass2}"
          - else
            = item.subclass1
        %td.hidden-phone= fancy_output(item.equip_type)
        %td.hidden-phone= fancy_output(item.dice)
        %td= item.buy_cost
        %td
          %p= fancy_output(item.trait1)
          %p= fancy_output(item.trait2)
          %p= fancy_output(item.trait3)
          %p= fancy_output(item.trait4)
          %p= fancy_output(item.rules)
        %td.hidden-phone= item.game.short_name

%h3 Overlord Relics
%table.table.table-striped.sortable-table
  %thead
    %tr
      %th Name
      %th Info
      %th.hidden-phone Game
  %tbody
    - @ol_relics.each do |item|
      %tr
        %td= link_to item.name, item_path(item)
        %td
          %p= fancy_output(item.trait1)
          %p= fancy_output(item.trait2)
          %p= fancy_output(item.trait3)
          %p= fancy_output(item.trait4)
          %p= fancy_output(item.rules)
        %td.hidden-phone= item.game.short_name

= if user_signed_in? && current_user.is_admin?
  = link_to t('.new', :default => t("helpers.links.new")), new_item_path, :class => 'btn btn-primary'
