- model_class = Chapter
.page-header
  %h1 Chapter Details

%p
  %strong= model_class.human_attribute_name(:adventure_id) + ':'
  %br
  = link_to @chapter.adventure.name, @chapter.adventure
%p
  %strong= model_class.human_attribute_name(:quest_id) + ':'
  %br
  = link_to @chapter.quest.name, @chapter.quest
%p
  %strong= model_class.human_attribute_name(:winner) + ':'
  %br
  = @chapter.final_winner
%p
  %strong= model_class.human_attribute_name(:gold_from_search_items) + ':'
  %br
  = @chapter.gold_from_search_items
%p
  %strong= model_class.human_attribute_name(:items_sold) + ':'
  %br
  = @chapter.items_sold
%p
  %strong= model_class.human_attribute_name(:items_bought) + ':'
  %br
  = @chapter.items_bought
%p
  %strong= model_class.human_attribute_name(:skills_bought) + ':'
  %br
  = @chapter.skills_bought
%p
  %strong= model_class.human_attribute_name(:report) + ':'
  %br
  = @chapter.report
