- model_class = Campaign
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr

      %th= model_class.human_attribute_name(:name)
      %th Created By
      %th Rating
      %th Game
      %th= model_class.human_attribute_name(:created_at)

  %tbody
    - @campaigns.each do |campaign|
      %tr
        %td= link_to campaign.name, campaign_path(campaign)
        %td= link_to campaign.user.username, campaign.user
        %td PLACEHOLDER
        %td= if campaign.game then link_to(campaign.game.short_name, campaign.game) end
        %td= l campaign.created_at                                                                      

- if user_signed_in?
  = link_to t('.new', :default => t("helpers.links.new")), new_campaign_path, :class => 'btn btn-primary'
- else
  .option_if_logged
    #{link_to "Sign in", new_user_session_url} to create a new campaign.