%h2 Official Campaigns
%table.table.table-striped
  %thead
    %tr

      %th Name
      %th Created By
      %th Rating
      %th Game
      %th Created

  %tbody
    - @campaigns[true].each do |campaign| # is_official = true
      %tr
        %td= link_to campaign.name, campaign_path(campaign)
        %td= link_to campaign.user.username, campaign.user
        %td= sample_rating
        %td= if campaign.game then link_to(campaign.game.short_name, campaign.game) end
        %td= l campaign.created_at                                                                      


- if @campaigns[false] # is_official = false
  %h2 User Campaigns
  %table.table.table-striped
    %thead
      %tr
  
        %th Name
        %th Created By
        %th Rating
        %th Created
  
    %tbody
      - @campaigns[false].each do |campaign|
        %tr
          %td= link_to campaign.name, campaign_path(campaign)
          %td= link_to campaign.user.username, campaign.user
          %td= sample_rating
          %td= l campaign.created_at                                                                      
