%h2= @hero.name

.row-fluid
  .span7
    .row-fluid
      %table.table.hero
        %tr
          %th.centered.speed   <img src='/assets/icons/speed-icon.png' alt='Might' title='Might' />
          %th.centered.health  <img src='/assets/icons/health-icon.png' alt='Knowledge' title='Knowledge' />
          %th.centered.stamina <img src='/assets/icons/stamina-icon.png' alt='Willpower' title='Willpower' />
          %th.centered.defense <img src='/assets/icons/defense-icon.png' alt='Awareness' title='Awareness' />
        %tr
          %td.centered.speed= @hero.speed
          %td.centered.health= @hero.health
          %td.centered.stamina= @hero.stamina
          %td.centered.defense= add_icons(@hero.defense)  

    .row-fluid
      %table.table.hero
        %tr
          %th.centered <img src='/assets/icons/Might.png' alt='Might' title='Might' />
          %th.centered <img src='/assets/icons/Knowledge.png' alt='Knowledge' title='Knowledge' />
          %th.centered <img src='/assets/icons/Willpower.png' alt='Willpower' title='Willpower' />
          %th.centered <img src='/assets/icons/Awareness.png' alt='Awareness' title='Awareness' />
        %tr
          %td.centered= @hero.might
          %td.centered= @hero.knowledge
          %td.centered= @hero.willpower
          %td.centered= @hero.awareness
  
  / COLUMN 2
  .span5
    %h4 Hero Ability
    = fancy_output(@hero.ability)
    
    %br

    %h4 Heroic Feat
    = fancy_output(@hero.feat)
    
.row-fluid
  %h3 Card
  = image_tag "cards/heroes/#{@hero.slug}.jpg"

.row-fluid
  %h3 Ratings

.row-fluid
  %h3 Play
  - for profession in @hero.archetype.professions
    %p= link_to "Play as #{profession.name}", play_path(:hero_id => @hero.id, :profession_id => profession.id)

-if user_signed_in? && ((current_user == @hero.user) || (current_user.try(:is_admin?)))
  .form-actions
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_hero_path(@hero), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), hero_path(@hero), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
