!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "The D2E Imp"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    = stylesheet_link_tag "application", :media => "all"
    / For third-generation iPad with high-resolution Retina display:
    / Size should be 144 x 144 pixels
    = favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    / For iPhone with high-resolution Retina display:
    / Size should be 114 x 114 pixels
    = favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    / For first- and second-generation iPad:
    / Size should be 72 x 72 pixels
    = favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    / For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    / Size should be 57 x 57 pixels
    = favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    / For all other devices
    / Size should be 32 x 32 pixels
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          .row-fluid
            .span10.offset1
              =#%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
              =#  %span.icon-bar
              =#  %span.icon-bar
              =#  %span.icon-bar
              %a.hidden-tablet.hidden-phone.brand{:href => root_url} The Overlord's Apprentice
              .container-fluid
                %ul.nav

                  %li.dropdown
                    = link_to 'Info', '#', {:class => 'dropdown-toggle', 'data-target' => "#", href: "/"}
                    %ul.dropdown-menu
                      %li= link_to "Campaigns", campaigns_url
                      %li= link_to "Quests", quests_url
                      %li= link_to "Heroes", heroes_url
                      %li= link_to "Classes", classes_url
                      %li= link_to "Skills", skills_url
                      %li= link_to "Items", items_url
                      %li= link_to "Monsters", monsters_url
                      %li= link_to "Overlord Cards", overlord_cards_url
                      %li= link_to "Games", games_url
                  %li.dropdown
                    = link_to 'Adventures', '#', {:class => 'dropdown-toggle', 'data-target' => "#", href: "/"}
                    %ul.dropdown-menu
                      %li= link_to "Recent Adventures", adventures_url
                      - if user_signed_in?
                        %li= link_to "My Adventures", adventures_url(:username => current_user.username)
                      %li.divider
                      %li= link_to "Start a New Adventure", new_adventure_url

                  %li.dropdown
                    = link_to 'Tools', '#', {:class => 'dropdown-toggle', 'data-target' => "#", href: "/"}
                    %ul.dropdown-menu
                      %li= link_to "Dice Roller", dice_roller_url
                      %li= link_to "Monster Group Generator", monster_pool_generator_url
                      =#%li Dice Roller
              

                  %li.hidden-phone
                    %form.form-search{action: '/search'}
                      .input-append
                        %input.span8.search-query{name: 'name', 'data-provide' => "typeahead", "data-items" => 6, "data-source" => ALL_OBJECT_NAMES, autocomplete: "off"}
                        %button.btn
                          %i.icon-search

                %ul.nav.pull-right
                  - if user_signed_in?
                    %li.dropdown
                      = link_to "<i class='icon-user'></i> ".html_safe + current_user.username, '#', {:class => 'dropdown-toggle', 'data-target' => "#", href: "/"}
                      %ul.dropdown-menu
                        %li= link_to "My Profile", edit_registration_url(current_user)
                        %li= link_to "Sign Out", destroy_user_session_url, :method => :delete
    
                  - else
                    %li.hidden-phone= link_to "Register", new_user_registration_url
                    %li.hidden-phone= link_to "Sign In", new_user_session_url
                    %li.hidden-tablet.hidden-desktop= link_to "<i class='icon-user'></i>".html_safe, new_user_session_url

          / /.nav-collapse
    .container-fluid
      .row-fluid
        .span10.offset1
          = bootstrap_flash
          = yield
      / /row
      %footer

    / /container
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
